<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276186124431-batqrn2foq14bg03effhitfi94btfrk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276186124431-batqrn2foq14bg03effhitfi94btfrk1</string>
	<key>API_KEY</key>
	<string>AIzaSyBX4xTvE8LirpaDcY9rXOEuguovq5AgfO0</string>
	<key>GCM_SENDER_ID</key>
	<string>276186124431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cgccomeau.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-7f04e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-7f04e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276186124431:ios:9151f0383563c6d4eda0fa</string>
</dict>
</plist>